<% provide(:title, "Log in") %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
  	<h1 style="text-align: center;">Administrator</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <div style="text-align: center">
      	 <%= f.submit "Log in", class: "button large-6" %>
      </div>
     
    <% end %>

    
  </div>
</div>
