<%provide(:title, 'Blog - Bhent') %>

<div class="row">
	<div class="large-12 columns">
		<h2>Blog</h2>
	</div>
</div>
<div class="row">
<% if @blogs.count != 0 %>

<% @blogs.each do |blog| %>
<div class="large-12 columns">
	<%= link_to  image_tag(blog.image.url), admin_blog_path(blog.admin_id, blog) %>
		
		<h4 style="margin-top: 10px;">
		<%= blog.title %>
			
		</h4>
		<hr style="margin-top: 0">

		<p>
			<%= blog.description %>
		</p>
		<hr>
		<p style="font-size: 12px">BY <%= link_to blog.admin.name.upcase, '#'%> <span>|</span> <%= blog.created_at.strftime("%B %d, %Y").upcase%> </p>
		<hr style="margin-top: 1px">
		
	</div>


<%end%>

<%end%>
	
</div>
