<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">

  <button class="menu-icon" type="button" data-toggle></button>

  <div class="title-bar-title">
    <span>Menu</span>
  </div>

</div>


<div class="top-bar" id="main-menu">

  <div class="top-bar-left">

    <ul class="dropdown menu" data-dropdown-menu>

      <li class="menu-text"><%=link_to "Bhent", root_path%></li>
      <!--<li class="menu-text"><%=link_to image_tag('logo.png'), root_path%></li>-->
      

      
         <!-- <li class="has-submenu">

            <%= link_to 'stuffs', '#' %>

            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to "stuffs", "#"%></li>
              <li><%= link_to "stuffs", "#" %></li>
            </ul>

          </li>-->
      
    </ul>

  </div>

  <div class="top-bar-right">

    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      
  
    <% if logged_in?%>
      <li><%= link_to 'AGENCY', agency_path%></li>
      <li><%= link_to 'PORTFOLIO', portfolio_path%></li>
      <li><a href="#">ENJOY BRANDING</a></li>
      <li><%= link_to "BLOG", admin_blogs_path(current_admin)%></li>
      <li><a href="#">SUPPORT</a></li>
      <li class="has-submenu">

           <%= link_to current_admin.name.upcase, '#' %>

            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to "Dasboard", current_admin%></li>
              <li><%= link_to "Comment", "#"%></li>
              <li><%= link_to "Blog", admin_blogs_path(current_admin)%></li>
              <li><%= link_to "Portfolio", "#"%></li>
              <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            </ul>

      </li>
      <%else%>
      <li><%= link_to 'AGENCY', agency_path%></li>
      <li><%= link_to 'PORTFOLIO', portfolio_path%></li>
      <li><a href="#">ENJOY BRANDING</a></li>
      <li><%= link_to "BLOG", blog_path%></li>
      <li><%= link_to 'SUPPORT', support_path%></li>
    <%end%>
      

    </ul>

  </div>

</div>

