<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">

  <button class="menu-icon" type="button" data-toggle></button>

  <div class="title-bar-title">
    <span>Menu</span>
  </div>

</div>


<div class="top-bar" id="main-menu">

  <div class="top-bar-left">

    <ul class="dropdown menu" data-dropdown-menu>

      <li class="menu-text"><%=link_to "Bhent", root_path%></li>
      <!--<li class="menu-text"><%=link_to image_tag('logo.png'), root_path%></li>-->
      

      
         <!-- <li class="has-submenu">

            <%= link_to 'stuffs', '#' %>

            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to "stuffs", "#"%></li>
              <li><%= link_to "stuffs", "#" %></li>
            </ul>

          </li>-->
      

    </ul>

  </div>

  <div class="top-bar-right">

    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li><a href="#">AGENCY</a></li>
      <li><a href="#">PORTFOLIO</a></li>
      <li><a href="#">ENJOY BRANDING</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">SUPPORT</a></li>

    </ul>

  </div>

</div>

